body{
	/*background-image: url(../img/2.jpg);*/
	/*background-image: url(../img/landscape_bg.png);
	
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;*/
	bottom: 0;
	left: 0;
	background-color: #e7f5f7;
}
/*nav{
	padding-bottom: 8px;
    background: #333333;
}
nav:after{
	background: linear-gradient(-45deg, #e7f5f7 6px, transparent 0), linear-gradient(45deg, #e7f5f7 6px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 12px 12px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 12px;
}*/
.left_panel_container{
	padding-right: 0;
}

.tabs-content{
	margin: 0 0 0 0;
	height: 497px;
}
.tabs-content .content{
	height: 497px;
  	padding-bottom: 0;
 	padding-top: 10px;
}

.tab-title{
	width: 50%;
}
.tabs .active  a{
	background-color: #008CBA !important;
	color: #FFFFFF !important;
}
.tab-title > a {
	padding: 10px 15px 10px 15px !important;
	font-size: 16px !important;
	background-color: #ffffff !important;
	border: solid 1px #008CBA !important;
	color: #008CBA !important;
}
.sub-nav{
	margin-bottom: 10px;
}
/*.sub-nav .active a{
	background: #43AC6A !important;
	border-color: #368a55 !important;
	color: #FFFFFF;
}
.sub-nav .active a:hover{
	background-color: #368a55;
}*/
.list_container{
	overflow-x: hidden; 
	overflow-y : scroll;
	height: 410px; 
}
.list_container hr{
	margin: 8px 0 8px 0 !important;
	border: solid #BEBEBE;
	border-width: 1px 0 0;
}

/* Float Left */
.hvr-left {
  /*display: inline-block;
  vertical-align: middle;*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-left:hover, .hvr-left:focus, .hvr-left:active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
/* End Float Left */

.list_item:hover{
	cursor: pointer;
	/*background-color: #e7e7e7;*/
}
.list_item .small-3{
	padding-right: 0;
}
.list_item .small-9 h6{
	margin-top: 5px;
}
.list_item .small-9{
	padding-left: 5px;
}
.list_item .small-12 h6{
	margin-bottom: 0;
}
.list_item .small-12 h6 a:hover{
	text-decoration: underline;
}
.list_item h6{
	text-align: left;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
}

/* Show More Container Styles */
.show_more {
	display: none;
	color: #ffffff;
	position: relative;
	background: #333333;
	margin-top: 10px;
}
.show_more:after {
	bottom: 100%;
	left: 75%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #333333;
	border-width: 8px;
	margin-left: -8px;
}
/* End Show More Container Styles */
.show_more h6{
	color: #ffffff;
	margin: 10px 10px 10px 10px !important;
}

.main-section{
	padding-bottom: 50px;
	background-image: url("../img/landscape_bg.png");
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.main-section > .panel{
	margin-top: 10px;
	padding: 15px 0px 15px 0px;
	border: solid 1px #A08A8E;
}
footer, .footer{
	background-color: #333333;
	/*background-color: #5d4c4f;*/
	font-family: Helvetica;
}
footer h5{
	color: white;
	margin-top: 8px;
	margin-bottom: 3px;
}
footer ul li a, .contacts li{
	color: grey;
	text-decoration: none;
	line-height: inherit;
	font-size: 0.85rem;
}
footer .social li .fa{
  font-size: 30px;
  width: 35px;
  text-align: center;
  margin: 0px 0 5px 0;
}
footer ul li a:hover, footer ul li a:active{
	color:white;
	text-decoration: none;
	line-height: inherit;
}
#ymap{
	width: 100%; 
	/*height: 70vh;*/
	height: 580px; /*height of the left form*/
	border: #BABABA solid 1px;
}
h5 .start{
	color: rgb(80, 211, 58);
}
h5 .finish{
	color: rgb(237, 69, 67);
}

.frequency .columns, .frequencyArea .columns{
	margin-bottom: 10px;
}
#submit_pick_request{
	margin-bottom: 0px;
}
.isRegularLabel{
	margin-right: 15px;
}
.weekdayChoice .button{
	padding-left: 10px;
	padding-right: 10px;
}
.deletePlacemark{
	color: red;
}
.deletePlacemark:hover{
	color: red;
	text-decoration: underline;
}
.placemark_row{
	font-size: 13px;
}
.placemark_row .balloonDeleteButton{
	color: red;
}
@keyframes pulse{
	from{background-color:#43AC6A;}
	to{background-color:#00CC66;}
}
@-webkit-keyframes pulse{
	from{background-color:#43AC6A;}
	to{background-color:#33CC00;}
}
.pulse {
	margin-top: 5px;
	background-color:#43AC6A;
	animation-name: pulse;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	-webkit-animation-name: pulse;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}